@import url('https://fonts.googleapis.com/css?family=Lato|Merriweather|Open+Sans|Open+Sans+Condensed:300|Raleway');

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

$light-gray-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
$light-gray-border: 1px solid rgba(0, 0, 0, 0.1);

$brand-primary: #144E2D;
$background-gray: #EEE;
$background-dark-gray: #FFF;
$color-off: #4D4D4D;

body {
  margin: 0;
}

.app {
  font-family: 'Helvetica Neue', 'sans-serif';
  font-size: 14px;
  text-align: center;
  color: $brand-primary;
  background-color: #110e17;
  height: 100vh;
  width: 100vw;
}

.top-container {
  display: flex;
  justify-content: space-between;
}
