@import url('https://fonts.googleapis.com/css?family=Sarabun');

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.landing-container {
  .action-btn {
    padding: 20px 50px;
    text-align: center;
    font-family: 'Sarabun', sans-serif;
    color: #FFF;
    border: 2px solid #FFF;
    background-color: #110e17;
    letter-spacing: 0.05em;
    font-size: 18px;
    animation: 1.5s linear fadeIn;
    transition: 0.25s;

    &:hover {
      cursor: pointer;
      box-shadow: inset 0 -4em 0 0 #DDD;
      color: #110e17;
    }

    &:focus {
      outline: 0;
    }

  }
}
