@import url('https://fonts.googleapis.com/css?family=Sarabun');

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.landing-container {
  position: absolute;
  top: 45vh;
  width: 100vw;

  p {
    text-align: center;
    font-family: 'Sarabun', sans-serif;
    color: #FFF;
    letter-spacing: 0.05em;
    font-size: 20px;

    animation: 1.5s linear fadeIn;
  }
}
