.profile-container {
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;

  img {
    height: 25px;
    width: 25px;
    border-radius: 100px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }

  .message {
    padding: 10px;
    color: #FFF;
    letter-spacing: 0.05em;
    font-family: 'Raleway', sans-serif;

    .name {
      font-weight: 600;
    }
  }
}
